# ============================================
# Настройки приложения
# ============================================

# GRPC_PORT - Порт, на котором будет работать gRPC сервер.
# Значение по умолчанию: 50051
GRPC_PORT=50051

# ============================================
# Настройки подключения к PostgreSQL
# ============================================

# POSTGRES_USER - Имя пользователя для подключения к PostgreSQL.
# Значение по умолчанию: postgres
POSTGRES_USER=postgres

# POSTGRES_PASSWORD - Пароль для подключения к PostgreSQL.
# Значение по умолчанию: 102104
POSTGRES_PASSWORD=102104

# POSTGRES_DB - Имя базы данных, к которой нужно подключиться.
# Значение по умолчанию: postgres
POSTGRES_DB=postgres

# POSTGRES_HOST - Хост, на котором работает PostgreSQL.
# Значение по умолчанию: localhost
POSTGRES_HOST=localhost

# POSTGRES_PORT - Порт, на котором работает PostgreSQL.
# Значение по умолчанию: 5432
POSTGRES_PORT=5432